nz-date-picker {
    margin: 0 8px 12px 0;
    width: 100px;
    color: #0e5679;
  }

  nz-input{
    width: 100px;   
    color: #0e5679;
  }

  nz-dropdown{
    width: 100px; 
    color: #0e5679;
  }
  form{
      color: #0e5679;
      font-family: ' Calibri';
      font-size: 16px;
  }
  
  .inputsize{
    width: 250px;  
    color:#0e5679; 
    border-color: #0e5679; 
  }
  .a{
    color:#0e5679;  
  }
  button{
    width: 250px; 
  }
  nz-col{
    color: #0e5679;
  }
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 8px;
  }