[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
    background-color:#0e5679;
  }
  
  nz-button-group [nz-button] {
    margin-right: 0;
  }
  .btn-primary{
    background-color:#0e5679;
  }
  ngx-datatable-column{
    width: 300px;
  }
  
  ng-template{
    width: 300px;
  }
  span{
    color: red;
  }