<nz-header class="h" style="padding-left: 20px;">
  <div id='parent_div_1'>
    <img src="../../assets/logo2.png" width="50px" height="40px">
    </div>
    
    <div id='parent_div_2'>
      <a href="#" class="navbar-brand">Maintenance</a>
    </div>
    
    <div id='parent_div_3'>
      <h4><i class="fa fa-ship" style="color:#0f5f86;font-size:19px;"></i><a [routerLink]="['/landing/vesselList']">{{vessel}}</a></h4>
    </div>
    <!-- <div class="logo">
      <img src="../../assets/logo2.png" width="50px" height="40px">
      &nbsp;
      &nbsp;
    </div>
    <div>
    <a href="#" class="navbar-brand">Maintenance</a>
    </div>
    <div>
      <h4><i class="fa fa-ship" style="color:#0f5f86;font-size:x-large;"></i><a [routerLink]="['/landing/vesselList']">{{vessel}}</a></h4>
    </div> -->
    <!-- <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul> -->
  </nz-header>