<section class="content">
    <div class="container-fluid">
        <div class="caption" style="color: #0E5679;font-size: 900;font-size:20px;">
            <i class="fa fa-cubes" style="color: #0E5679;"></i>
            STATISTICS
        </div>
        <br>
        <div class="row-clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="fa fa-ship" style="font-size: 30px;">

                        </i>
                    </div>
                    <div class="content">
                        <div class="text">
                            TOTAL VESSELS
                        </div>
                        <div class="text">0</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="far fa-calendar" style="font-size: 30px;">

                        </i>
                    </div>
                    <div class="content">
                        <div class="text">
                            DUE FOR THE DAY
                        </div>
                        <div class="text">0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="far fa-calendar" style="font-size: 30px;">

                        </i>
                    </div>
                    <div class="content">
                        <div class="text">
                            DUE FOR THE WEEK
                        </div>
                        <div class="text">0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="far fa-calendar" style="font-size: 30px;">

                        </i>
                    </div>
                    <div class="content">
                        <div class="text">
                            DUE FOR THE MONTH
                        </div>
                        <div class="text">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>