<div class="caption" style="font-weight: 700;">
    MASTER DATA MANAGEMENT
</div>
<br>
<br>
<div class="form-group">
    <label>Select Equipment Type</label><span> * </span>
    <select class="form-control">
        <option [ngValue]="null">1</option>
        <option [ngValue]>2 </option>
        <option [ngValue]>3</option>
        <option [ngValue]>4</option>
        <option [ngValue]>5</option>
    </select>

</div>
<div class="form-group">
    <label>Select Job Code</label><span> * </span>
    <select class="form-control">
        <option [ngValue]="null">1</option>
        <option [ngValue]>2 </option>
        <option [ngValue]>3</option>
        <option [ngValue]>4</option>
        <option [ngValue]>5</option>
    </select>

</div>
<br>

<div style="border: 1px solid #0e5679;width:63%;height:39%;"></div>



<br><br>
<button nz-button nzType="default" nzTooltipTitle="SAVE" nzTooltipPlacement="topRight" nz-button
    nz-tooltip>Save</button>

<button nz-button nzType="default" nzTooltipTitle="DELETE" nzTooltipPlacement="topRight" nz-button
    nz-tooltip>Delete</button>