.form-control{
    font-size: 12px;
    color: #0e5679;
    font-family: sans-serif;
    width: 50%;
  }
  button{
    border-color: #2bb8c4;
    color: #fff;
    background: #0e5679;
    border: 1px solid #dbdbdb;
  }