

<div style="color:#0e5679;">
    <form action="EditJobplanRhs" method="post">
        <span class="rr">&nbsp;</span>
        <div class="row clearfix">


            <input type="hidden" id="JobOrder3" name="JobOrder3" value="JobOrder">
            <div class="col-md-3">
                <b>Frequency</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">turned_in_not</i>
                    </span>
                    <div class="form-line">
                        <input type="text" id="frequencyRhs" readonly value="" class="form-control key" placeholder="">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <b>Frequency Type</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">turned_in_not</i>
                    </span>
                    <div class="form-line">
                        <input type="text" id="FrequencyType1" readonly value="" class="form-control key" placeholder="">
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <b>Previous Rhs</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">turned_in_not</i>
                    </span>
                    <div class="form-line">
                        <input type="text" id="PreviousReading" readonly value="" class="form-control key" placeholder="" name="PreviousReading">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <b>Current Rhs</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">turned_in_not</i>
                    </span>
                    <div class="form-line">
                        <input type="number" id="currentRhs" name="PresentRHr" class="form-control key">

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <b>Last Done Date</b>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">turned_in_not</i>
                    </span>
                    <div class="form-line">
                        <input type="date" id="lastdone" name="lastdone" value="" class="form-control key" placeholder="">
                    </div>
                </div>
            </div>




          


            <input type="submit" value="" class="fa fa-floppy-o aria-hidden=true" style="width:33px;height:33px;background:#0E5679;color:white;" id="submit" />


        </div>
    </form>
</div>