.ant-input {
    
    margin: 0 8px 8px 0;
    color: #0E5679;
  }
  span{
      color:#0E5679;
      font-size: 14px;
  }
  button{
    border-color: #2bb8c4;
    color: #fff;
    background: #0e5679;
    border: 1px solid #dbdbdb;
}
.ant-modal-title{
    color: #0E5679;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
}

.ng-star-inserted{
    color: #0E5679;
}
nz-date-picker {
    margin: 0 8px 12px 0;
    width:100%;
    color: #0e5679;
  }