[nz-button] {
  margin-right: 5px;
  // margin-bottom: 12px;
  background-color:#0e5679;
}

  nz-button-group [nz-button] {
    margin-right: 0;
  }
  .btn-primary{
    background-color:#0e5679;
  }
  h5{
    font-weight: 900;
    font-size: larger;
    color: #0e5679;
  }
  button{
    //border: none;
    color :white;
    background-color: #0e5679;
   // width: 200px;
   // height: 100px;
  }
  .form-control{
    width: 90%;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 12px;
    color: #0e5679;
    font-family: sans-serif;
  }
  .form-control{
    font-size: 12px;
    color: #0e5679;
    font-family: sans-serif;
  }
  span{
    color: red;
  }